<html>
<body>
 
 Successfully Logged in !!
 YOHO

<div class="subscribe">
  <h2 class="login-header">Subscriptions</h2>

  <form class="subscribe-container" action="/shows/subscribe" method="post">
    <p><input type="text" placeholder="showId" name="showId" value=""></p>
    <p><input type="text" placeholder="showName" name="showName" value=""></p>
    <p><input type="submit" value="Subscribe">  
  </form>

  <form class="unSubscribe-container" action="/shows/unsubscribe" method="post">
    <p><input type="text" placeholder="showId" name="showId" value=""></p>
    <p><input type="text" placeholder="showName" name="showName" value=""></p>
    <p><input type="submit" value="unSubscribe">  
  </form>


  </div>
</div>


</body>
</html>